<!DOCTYPE html>
<html lang="en">

<head>
    <%-include("./inc/head.ejs")%>
</head>

<body>
    <% let name="batuhan" %>
        <%-include("./inc/nav.ejs")%>

            <h1>Hakkımızda</h1>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sit praesentium sed repellendus dolor labore aspernatur enim earum, voluptates est commodi, doloremque ut modi omnis asperiores architecto. Et aspernatur error nihil!</p>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Laborum beatae repellat voluptatum aperiam velit dolorum vitae natus quo libero. Deleniti excepturi ab, dolor quam ut in iure voluptas explicabo adipisci.</p>
            
</body>

</html>